body {
  background: black;
  color: white;
  font: medium "Arial", sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

#title-img {
  margin-right: 10px;
  height: 100px;
  width: auto;
}

#league-container {
  background: white;
  color: black;
  text-align: center;
  height: 300px;
  width: auto;
}

.league-div {
  text-align: center;
  display: inline-block;
  width: 360px;
  height: 300px;
}

.league-img {
  height: 150px;
  width: auto; 
}

.league-country {
  padding: 25px;
}

.team-div {
  border: 1px solid white;
  text-align: center;
  height: 225px;
  width: 150px;
}

.team-badge {
  height: 100px;
  width: auto;
}