body {
  background: white;
  color: black;
  font: medium "Arial", sans-serif;
}

#title {
  text-align: center;
  padding-top: 50px;
}

#league-container {
  text-align: center;
  height: 400px;
  width: auto;
}

.league-div {
  text-align: center;
  border: 1px white;
  display: inline-block;
  width: 360px;
  height: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.league-img {
  height: 200px;
  width: auto; 
}

.league-country {
  padding: 25px;
}

.team-div {
  border: 1px solid black;
  text-align: center;
  height: 225px;
  width: 150px;
}

.team-badge {
  height: 100px;
  width: auto;
}